.hero__section {
  padding: 120px 532px 222px 531px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) -13.19%,
      rgba(0, 0, 0, 0.85) 94.01%
    ),
    url("../images/hero\ image.svg") no-repeat center/cover;

  .hero__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .hero__title {
    color: $white-text;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: center;
    text-transform: uppercase;
  }
  .hero__info {
    width: 537px;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    color: $white-text;
  }

  .hero__btn{
    margin-top: 30px;
  }
}
